body
  margin 2em
  color #555
  font-family sans-serif
  background-color cornsilk

canvas#sceitse
  display block
  margin auto
  background-color white
  box-shadow 0px 2px 10px 1px rgba(0, 0, 0, 0.4)
  cursor crosshair

.touch-enabled
  canvas#sceite
    width 100%
    height 100%
