doctype html
html(lang="en")
  head
    title Sceitse
    link(rel="stylesheet" href="index.css")
    script(src="index.js")
  body
    header
      h1 Sceitse
    article Hello
      canvas#sceitse
    footer
      p © 2015 bjjb
