doctype html
html(lang="en")
  head
    meta(charset="utf8")
    title Sceitse
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="index.css")
    script(src="index.js")
  body
    header
      h1 Sceitse
    article Hello
      canvas#sceitse
    footer
      p © 2015 bjjb
